"/Applications/Arhyas Command Multilingual for MacOS 11+.app/Contents/Resources/error.log"
{
	size 20M
	rotate 12
	compress
	delaycompress
	missingok
	notifempty
	copytruncate
}


"/Applications/Arhyas Command Multilingual for MacOS 11+.app/Contents/Resources/arhyas_command.log"
{
	size 20M
	rotate 12
	compress
	delaycompress
	missingok
	notifempty
	copytruncate
}